@using Abp.Configuration
<div>
    <form name="mySettingsForm" role="form" novalidate class="form-validation">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>@L("ChangeProfilePicture")</span>
            </h3>
        </div>
        <div class="modal-body">
            <div class="form-group">
                <input id="LogoFileInput" type="file" nv-file-select uploader="vm.logoUploader" required />
                <span class="help-block m-b-none">@L("UploadLogo_Info")</span>
            </div>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="vm.uploadLogo()">@L("Upload")</button>
            <button class="btn btn-default" type="button" ng-click="vm.cancel()">@L("Cancel")</button>
        </div>
    </form>
</div>