<!DOCTYPE html>
<html lang="en">

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">

    <form ng-controller="tenant.views.authorised_values.index as vm" class="form-horizontal" action="#" id="submit_form" method="POST">

        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-line boxless tabbable-reversed">
                   
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i>Authorised Values
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"> </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                        <a href="javascript:;" class="reload"> </a>
                                        <a href="javascript:;" class="remove"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->

                                    <div class="form-body">

                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Job Value</label>
                                            <div class="col-md-4">
                                                <input required name="JobValue" type="text" class="form-control input-circle" placeholder="Job value.">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Parts Value</label>
                                            <div class="col-md-4">
                                                <input required name="partsValue" type="text" class="form-control input-circle" placeholder="Parts value.">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Labour Value</label>
                                            <div class="col-md-4">
                                                <input required name="labourValue" type="text" class="form-control input-circle" placeholder="Labour value.">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Paint Value</label>
                                            <div class="col-md-4">
                                                <input required name="paintValues" type="text" class="form-control input-circle" placeholder="Paint & Consumables">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Other Values</label>
                                            <div class="col-md-4">
                                                <input required name="other" type="text" class="form-control input-circle" placeholder="Other values.">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <hr style="margin:0px;" />
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Excess Values</label>
                                            <div class="col-md-4">
                                                <input required name="ExcessValue" type="text" class="form-control input-circle" placeholder="Excess value.">
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Tow Value</label>
                                            <div class="col-md-4">
                                                <input required name="ExcessValue" type="text" class="form-control input-circle" placeholder="Excess value.">
                                            </div>
                                        </div>

                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="button" data-toggle="modal" class="btn btn-circle green">Submit</button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- END FORM-->
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div ui-view class="fade-in-up"></div>


    </form>    

    <script>
        $(document).ready(function () {
            $('#clickmewow').click(function () {
                $('#radio1003').attr('checked', 'checked');
            });
        })
    </script>
</body>
</html>