<!DOCTYPE html>
<html lang="en">

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">

    <!-- BEGIN PAGE TITLE-->
    <h1 class="page-title">
        Update Vendor
        <small>Infomation</small>
    </h1>
    <!-- END PAGE TITLE-->
    <!-- END PAGE HEADER-->
    <form ng-controller="tenant.views.EditVendor.index as vm" class="form-horizontal" action="#" id="submit_form" method="POST">

        <div class="row">
            <div class="col-md-12">
                <!-- BEGIN SAMPLE FORM PORTLET-->
                <div class="portlet light bordered">

                    <div class="tabbable-line boxless tabbable-reversed">
                        <div class="tab-content">

                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i>Fill vendor detail
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"> </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                        <a href="javascript:;" class="reload"> </a>
                                        <a href="javascript:;" class="remove"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->

                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Supplier Name</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-pencil"></i>
                                                    </span>
                                                    <input type="text" readonly  ng-model="vm.mainVendor.supplierName" ng-class="{'edited':vm.mainVendor.supplierName}" class="form-control input-circle-right" placeholder="Supplier Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Registration Number</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-registered"></i>
                                                    </span>
                                                    <input type="text" required ng-model="vm.subVendor.registrationNumber" ng-class="{'edited':vm.subVendor.registrationNumber}" class="form-control input-circle-right" placeholder="Registration">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Tax Registration Number</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-registered"></i>
                                                    </span>
                                                    <input type="text" required ng-model="vm.subVendor.taxRegistrationNumber" ng-class="{'edited':vm.subVendor.taxRegistrationNumber}" class="form-control input-circle-right" placeholder="Tax Registration">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Contact Name</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-pencil"></i>
                                                    </span>
                                                    <input type="text" ng-model="vm.subVendor.contactName" ng-class="{'edited':vm.subVendor.contactName}"  class="form-control input-circle-right" placeholder="Contact Name">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Contact Phone</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-phone"></i>
                                                    </span>
                                                    <input type="text" ng-model="vm.subVendor.contactPhone" ng-class="{'edited':vm.subVendor.contactPhone}"  placeholder="Contact Phone" class="form-control input-circle-right">

                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Contact Fax</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-fax"></i>
                                                    </span>
                                                    <input type="text" ng-model="vm.subVendor.contactFax"  ng-class="{'edited':vm.subVendor.contactFax}" class="form-control input-circle-right" placeholder="Contact Fax">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Contact Email</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-envelope"></i>
                                                    </span>
                                                    <input type="email" ng-model="vm.subVendor.contactEmail"  ng-class="{'edited':vm.subVendor.contactEmail}" class="form-control input-circle-right" placeholder="Contact Email">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Address 1</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-address"></i>
                                                    </span>
                                                    <textarea ng-model="vm.subVendor.address1" ng-class="{'edited':vm.subVendor.address1}"  class="form-control input-circle-right" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Address 2</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-address"></i>
                                                    </span>
                                                    <textarea ng-model="vm.subVendor.address2"  ng-class="{'edited':vm.subVendor.address2}" class="form-control input-circle-right" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Address 3</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-address"></i>
                                                    </span>
                                                    <textarea ng-model="vm.subVendor.address3" ng-class="{'edited':vm.subVendor.address3}"  class="form-control input-circle-right" rows="3"></textarea>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Location</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-location-arrow"></i>
                                                    </span>
                                                    <input type="text" ng-model="vm.subVendor.location" ng-class="{'edited':vm.subVendor.location}"  class="form-control input-circle-right" placeholder="Location">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Registration Number</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-registered"></i>
                                                    </span>
                                                    <input type="text" readonly ng-model="vm.mainVendor.registrationNumber" ng-class="{'edited':vm.mainVendor.registrationNumber}"  class="form-control input-circle-right" placeholder="Registration">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Tax Registration Number</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-registered"></i>
                                                    </span>
                                                    <input type="text" readonly ng-model="vm.mainVendor.taxRegistrationNumber" ng-class="{'edited':vm.mainVendor.taxRegistrationNumber}"  class="form-control input-circle-right" placeholder="Tax Registration">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Supplier Account</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-bank"></i>
                                                    </span>
                                                    <input type="text" ng-model="vm.subVendor.supplierAccount" ng-class="{'edited':vm.subVendor.supplierAccount}"  class="form-control input-circle-right" placeholder="Supplier Account">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Payment Terms</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-copy"></i>
                                                    </span>
                                                    <select class="form-control input-circle-right" ng-model="vm.subVendor.paymentTerms"
                                                            ng-options="opt.id as opt.name for opt in SimpleData">
                                                        <option value="">--Select One--</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Bank</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-bank"></i>
                                                    </span>
                                                    <select class="form-control input-circle-right" ng-model="vm.subVendor.bankID"
                                                            ng-options="opt.id as opt.name for opt in bankList">
                                                        <option value="">--Select One--</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Account No.</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-bank"></i>
                                                    </span>
                                                    <input type="text" ng-model="vm.subVendor.accountNumber" ng-class="{'edited':vm.subVendor.accountNumber}" class="form-control input-circle-right" placeholder="Account Number">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Type</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-money"></i>
                                                    </span>
                                                    <select class="form-control" ng-model="vm.subVendor.type">
                                                        <option value="">--Select One--</option>
                                                        <option value="Saving">Saving</option>
                                                        <option value="Current">Current</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Branch</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-building"></i>
                                                    </span>
                                                    <input type="text" ng-model="vm.subVendor.branch"  ng-class="{'edited':vm.subVendor.branch}" class="form-control input-circle-right" placeholder="Branch">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Currency Type</label>
                                            <div class="col-md-4">
                                                <div class="input-group">
                                                    <span class="input-group-addon input-circle-left">
                                                        <i class="fa fa-money"></i>
                                                    </span>
                                                    <select class="form-control input-circle-right" ng-model="vm.subVendor.currencyID"
                                                            ng-options="opt.id as opt.name for opt in currencyList">
                                                        <option value="">--Select One--</option>
                                                    </select>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <label class="col-md-3 control-label">Is Vendor Enabled?</label>
                                            <div class="col-md-4">
                                                <div class="input-group" style="width: 10% !important;">                                                     
                                                    <input type="checkbox" ng-checked="vm.subVendor.isActive" ng-model="vm.subVendor.isActive" class="form-control" />                                                      
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-3 col-md-9">
                                                <button type="button" class="btn btn-circle green button-submit">Submit</button>
                                                <button type="button" class="btn btn-circle grey-salsa btn-outline btn-cancel">Cancel</button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- END FORM-->
                                </div>
                            </div>
                        </div>
                        <!-- END SAMPLE FORM PORTLET-->

                    </div>

                </div>
            </div>
        </div>

    </form>   
    <script>
        $(document).ready(function () {
            $('#clickmewow').click(function () {
                $('#radio1003').attr('checked', 'checked');
            });
        })
    </script>
</body>
</html>