@using PanelMasterMVC5Separate.Tenants.Vendors
<div class="row margin-bottom-5">
    <div class="col-xs-6">
        <div class="page-head">
            <div class="page-title">
                <h1>
                    <span>@L("EditVendor")</span> <small>more info about vendor</small>
                </h1>
            </div>
        </div>
    </div> 
        <form name="editvendorform" ng-controller="tenant.views.EditVendor.index as vm" role="form" novalidate class="form-horizontal" action="#" id="submit_form" method="POST">
            <div class="row">
                <div class="col-md-12">
                    <!-- BEGIN SAMPLE FORM PORTLET-->
                    <div class="portlet light bordered">

                        <div class="tabbable-line boxless tabbable-reversed">
                            <div class="tab-content">

                                <div class="portlet box green">
                                    <div class="portlet-title">
                                        <div class="caption">
                                            <i class="fa fa-gift"></i>Fill vendor detail
                                        </div>
                                        <div class="tools">
                                            <a href="javascript:;" class="collapse"> </a>
                                            <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                            <a href="javascript:;" class="reload"> </a>
                                            <a href="javascript:;" class="remove"> </a>
                                        </div>
                                    </div>
                                    <div class="portlet-body form">
                                        <!-- BEGIN FORM-->

                                        <div class="form-body">
                                            <div class="alert alert-danger display-hide">
                                                <button class="close" data-close="alert"></button> You have some form errors. Please check below.
                                            </div>
                                            <div class="alert alert-success display-hide">
                                                <button class="close" data-close="alert"></button> Your form validation is successful!
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Supplier Name</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon input-circle-left">
                                                            <i class="fa fa-pencil"></i>
                                                        </span>
                                                        <input required type="text" ng-model="vm.job.supplierName" ng-class="{'edited':vm.job.supplierName}" class="form-control input-circle-right" placeholder="Supplier Name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Contact Name</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon input-circle-left">
                                                            <i class="fa fa-pencil"></i>
                                                        </span>
                                                        <input required type="text" ng-model="vm.job.contactName" ng-class="{'edited':vm.job.contactName}" class="form-control input-circle-right" placeholder="Contact Name">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Contact Phone</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon input-circle-left">
                                                            <i class="fa fa-phone"></i>
                                                        </span>
                                                        <input required type="text" ng-model="vm.job.contactPhone" ng-class="{'edited':vm.job.contactPhone}" placeholder="Contact Phone" class="form-control input-circle-right">

                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Contact Fax</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon input-circle-left">
                                                            <i class="fa fa-fax"></i>
                                                        </span>
                                                        <input required type="text" ng-model="vm.job.contactFax" ng-class="{'edited':vm.job.contactFax}" class="form-control input-circle-right" placeholder="Contact Fax">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Contact Email</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon input-circle-left">
                                                            <i class="fa fa-envelope"></i>
                                                        </span>
                                                        <input required type="email" ng-model="vm.job.contactEmail" ng-class="{'edited':vm.job.contactEmail}" class="form-control input-circle-right" placeholder="Contact Email">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Address 1</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon input-circle-left">
                                                            <i class="fa fa-address"></i>
                                                        </span>
                                                        <textarea ng-model="vm.job.address1" ng-class="{'edited':vm.job.address1}" class="form-control input-circle-right" rows="3"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Address 2</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon input-circle-left">
                                                            <i class="fa fa-address"></i>
                                                        </span>
                                                        <textarea ng-model="vm.job.address2" ng-class="{'edited':vm.job.address2}" class="form-control input-circle-right" rows="3"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Address 3</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon input-circle-left">
                                                            <i class="fa fa-address"></i>
                                                        </span>
                                                        <textarea ng-model="vm.job.address3" ng-class="{'edited':vm.job.address3}" class="form-control input-circle-right" rows="3"></textarea>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Location</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon input-circle-left">
                                                            <i class="fa fa-location-arrow"></i>
                                                        </span>
                                                        <input required type="text" ng-model="vm.job.location" ng-class="{'edited':vm.job.location}" class="form-control input-circle-right" placeholder="Location">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Registration Number</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon input-circle-left">
                                                            <i class="fa fa-registered"></i>
                                                        </span>
                                                        <input required type="text" ng-model="vm.job.registrationNumber" ng-class="{'edited':vm.job.registrationNumber}" class="form-control input-circle-right" placeholder="Registration">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Tax Registration Number</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon input-circle-left">
                                                            <i class="fa fa-registered"></i>
                                                        </span>
                                                        <input required type="text" ng-model="vm.job.taxRegistrationNumber" ng-class="{'edited':vm.job.taxRegistrationNumber}" class="form-control input-circle-right" placeholder="Tax Registration">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Supplier Account</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon input-circle-left">
                                                            <i class="fa fa-bank"></i>
                                                        </span>
                                                        <input required type="text" ng-model="vm.job.supplierAccount" ng-class="{'edited':vm.job.supplierAccount}" class="form-control input-circle-right" placeholder="Supplier Account">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Payment Terms</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon input-circle-left">
                                                            <i class="fa fa-copy"></i>
                                                        </span>
                                                        <select class="form-control input-circle-right" ng-model="vm.job.paymentTerms"
                                                                ng-options="opt.id as opt.name for opt in SimpleData">
                                                            <option value="">--Select One--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Bank</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon input-circle-left">
                                                            <i class="fa fa-bank"></i>
                                                        </span>
                                                        <select class="form-control input-circle-right" ng-model="vm.job.bankID"
                                                                ng-options="opt.id as opt.name for opt in bankList">
                                                            <option value="">--Select One--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Account No.</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon input-circle-left">
                                                            <i class="fa fa-bank"></i>
                                                        </span>
                                                        <input required type="text" ng-model="vm.job.accountNumber" ng-class="{'edited':vm.job.accountNumber}" class="form-control input-circle-right" placeholder="Account Number">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Type</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon input-circle-left">
                                                            <i class="fa fa-money"></i>
                                                        </span>
                                                        <select class="form-control input-circle-right" ng-model="vm.job.type">
                                                            <option value="">--Select One--</option>
                                                            <option value="Saving">Saving</option>
                                                            <option value="Current">Current</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Branch</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon input-circle-left">
                                                            <i class="fa fa-building"></i>
                                                        </span>
                                                        <input required type="text" ng-model="vm.job.branch" ng-class="{'edited':vm.job.branch}" class="form-control input-circle-right" placeholder="Branch">
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Currency Type</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <span class="input-group-addon input-circle-left">
                                                            <i class="fa fa-money"></i>
                                                        </span>
                                                        <select required class="form-control input-circle-right" ng-model="vm.job.currencyID"
                                                                ng-options="opt.id as opt.name for opt in currencyList">
                                                            <option value="">--Select One--</option>
                                                        </select>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="form-group">
                                                <label class="col-md-3 control-label">Is Vendor Enabled?</label>
                                                <div class="col-md-4">
                                                    <div class="input-group">
                                                        <input type="checkbox" ng-checked="vm.job.isActive" ng-model="vm.job.isActive" class="form-control" />
                                                         
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="form-actions">
                                            <div class="row">
                                                <div class="col-md-offset-3 col-md-9">
                                                    <button ng-disabled="vm.saving" type="reset" class="btn btn-default" ng-click="vm.cancel()">@L("Cancel")</button>
                                                    <button type="button" button-busy="vm.saving" busy-text="@L(" SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()" ng-disabled="editvendorform.$invalid"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                                                </div>
                                            </div>
                                        </div>

                                        <!-- END FORM-->
                                    </div>
                                </div>
                            </div>
                            <!-- END SAMPLE FORM PORTLET-->

                        </div>

                    </div>
                </div>
            </div>

        </form>

</div>