<link href="~/libs/edittablegrid/css/editablegrid.css" rel="stylesheet" type="text/css" />
<script type="text/javascript" src="~/libs/edittablegrid/js/editablegrid.js"></script>
<script type="text/javascript" src="~/libs/edittablegrid/js/editablegrid_validators.js"></script>
<script type="text/javascript" src="~/libs/edittablegrid/js/editablegrid_renderers.js"></script>
<script type="text/javascript" src="~/libs/edittablegrid/js/editablegrid_editors.js"></script>
<script type="text/javascript" src="~/libs/edittablegrid/js/editablegrid_utils.js"></script>
<script type="text/javascript" src="~/libs/edittablegrid/js/editablegrid_charts.js"></script>
<div ng-controller="tenant.views.quoteheaders.index as vm" name="quotesForm" role="form" novalidate action="#" id="submit_form" method="POST">


    <style>

        table.htmlgrid {
            border-collapse: collapse;
            border: 1px solid #CCB;
            width: 800px;
        }

            table.htmlgrid td, table.htmlgrid th {
                padding: 5px;
                border: 1px solid #E0E0E0;
            }

            table.htmlgrid th {
                background: #E5E5E5;
                text-align: left;
            }

        input.invalid {
            background: red;
            color: #FDFDFD;
        }
    </style>
    <h1 class="page-title">
        Quote
        <small>Summary</small>
    </h1>

    <div class="invoice">

        <div class="row">

            <div class="col-xs-3 invoice-payment">

                <ul class="list-unstyled">
                    <li>
                        <strong>Job Id #:</strong> {{vm.job.jobId}}
                    </li>
                    <li>
                        <strong>Quote Status:</strong> {{vm.job.quoteStatus}}
                    </li>
                    <li>
                        <strong>Quote Created:</strong> {{vm.job.quoteCreated}}
                    </li>
                    <li>
                        <strong>Quote Category:</strong> {{vm.job.quoteCat}}
                    </li>

                </ul>
            </div>
            <div class="col-xs-3 invoice-payment">

                <ul class="list-unstyled">
                    <li>
                        <strong>Vehicle Year:</strong>{{vm.job.vehicleYear}}
                    </li>
                    <li>
                        <strong>Make:</strong> {{vm.job.vehicleMake}}
                    </li>
                    <li>
                        <strong>Model:</strong> {{vm.job.vehicleModal}}
                    </li>
                    <li>
                        <strong>Value:</strong> {{vm.job.value}}
                    </li>
                </ul>
            </div>
            <div class="col-xs-3 invoice-payment">

                <ul class="list-unstyled">

                    <li>
                        <strong>Vehicle Color:</strong>   {{vm.job.vehicleColor}}
                    </li>
                    <li>
                        <strong>Reg:</strong>   {{vm.job.vehicleReg}}
                    </li>
                    <li>
                        <strong>Vin:</strong>   {{vm.job.vehicleVin}}
                    </li>
                    <li>
                        <strong>Insurer:</strong>   {{vm.job.insurer}}
                    </li>
                </ul>
            </div>
            <div class="col-xs-3 invoice-payment">

                <ul class="list-unstyled">

                    <li>
                        <strong>Broker:</strong>   {{vm.job.broker}}
                    </li>
                    <li>
                        <strong>Pre Authorised:</strong>   {{vm.job.pre_Auth}}
                    </li>
                    <li>
                        <strong>Repair Type:</strong>   {{vm.job.repairType}}
                    </li>
                    <li>
                        <strong>Created By:</strong> {{vm.job.createdBy}}
                    </li>
                </ul>
            </div>

        </div>

        <div class="row">
            <div class="col-md-12">
                <!-- Begin: life time stats -->
                <div class="portlet light portlet-fit portlet-datatable bordered">
                    <div class="portlet-title">
                        <div class="caption">
                            <i class="icon-share font-blue"></i>
                            <span class="caption-subject font-blue bold uppercase">Quote</span>
                            <span class="caption-helper">details...</span>
                        </div>

                    </div>
                    <div class="portlet-body">
                        <div class="tabbable-line">
                            <ul class="nav nav-tabs">
                                <li ng-class="activeTab1">
                                    <a ng-click="vm.getQuotes(1)" data-toggle="tab">Quote Preparation</a>
                                </li>
                                <li ng-class="activeTab2">
                                    <a ng-click="vm.getQuotes(2)" data-toggle="tab">Quote Revision</a>
                                </li>
                                <li ng-class="activeTab3">
                                    <a ng-click="vm.getQuotes(3)" data-toggle="tab">Quote Authorised</a>
                                </li>
                                <li>
                                    <a data-toggle="tab">Authorised Additionals</a>
                                </li>
                            </ul>

                            <div class="tab-content">
                                <div class="tab-pane active">
                                    <div class="table-responsive">
                                        <table id="htmlgrid" class="table table-striped table-hover table-bordered">
                                            <thead>
                                                <tr>
                                                    <th colspan="6"> </th>
                                                    <th colspan="4" align="right">Parts</th>
                                                    <th colspan="3" align="center">Panelbeating</th>
                                                    <th colspan="3" align="center">Paint</th>
                                                    <th colspan="3" align="center">Strip/Assemble</th>
                                                </tr>
                                                <tr>
                                                    <th>Ref#</th>
                                                    <th>Action</th>
                                                    <th>Location</th>
                                                    <th>Description</th>
                                                    <th>ToOrder.</th>
                                                    <th>OutWork</th>

                                                    <th>Qty</th>
                                                    <th>Value</th>
                                                    <th>Total</th>
                                                    <th>Parts#</th>

                                                    <th>Hrs</th>
                                                    <th>Rate</th>
                                                    <th>Value</th>

                                                    <th>Hrs</th>
                                                    <th>Rate</th>
                                                    <th>Value</th>

                                                    <th>Hrs</th>
                                                    <th>Rate</th>
                                                    <th>Value</th>

                                                    <th>No-Tax/Vat</th>
                                                    <th>Total</th>
                                                    <th>Action-Lines</th>
                                                </tr>
                                            </thead>
                                            <tbody></tbody>
                                            <tfoot>
                                                <tr>
                                                    <td colspan="9" align="right">Estimated Repair Days : <label id="tdestimatedRepairDays"></label> </td>
                                                    <td colspan="12" align="right">Total Quote Value : <label id="tdtotal"></label></td>
                                                </tr>
                                                <tr>
                                                    <td colspan="9" align="right">Repairer Estimated Days : <input type="number" ng-model="vm.repairerEstimatedDays" /> </td>

                                                </tr>
                                            </tfoot>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="tabbable-line">
                            <button type="submit" ng-disabled="vm.disableSave" button-busy="vm.saving" busy-text="@L("SavingWithThreeDot")" class="btn btn-primary blue" ng-click="vm.save()"><i class="fa fa-save"></i> <span>@L("Save")</span></button>
                            <button type="button" ng-disabled="vm.disableImport" class="btn btn-primary blue">Import</button>
                            <button type="submit" ng-disabled="disableCompleted" button-busy="vm.completing" busy-text="@L("SavingWithThreeDot")" ng-click="vm.completed()" class="btn btn-primary blue">Completed</button>
                            <button type="button" ng-disabled="vm.disablePrint" class="btn btn-primary blue">Print</button>
                            <button type="button" ng-disabled="vm.disableEmail" class="btn btn-primary blue">Email</button>
                            <datalist id="actions">
                                <option ng-repeat="a in lstactions track by $index"
                                        value="{{a.name}}">
                                    {{a.name}}
                                </option>
                            </datalist>
                            <datalist id="locations">
                                <option ng-repeat="l in lstlocations track by $index"
                                        value="{{l.name}}">
                                    {{l.name}}
                                </option>
                            </datalist>
                        </div>
                    </div>

                </div>
                <!-- End: life time stats -->
            </div>

        </div>
    </div>


</div>



