<!DOCTYPE html>
<html lang="en">

<body class="page-header-fixed page-sidebar-closed-hide-logo page-content-white">

    <form ng-controller="tenant.views.job_information.index as vm" class="form-horizontal" action="#" id="submit_form" method="POST">

        <div class="row">
            <div class="col-md-12">
                <div class="tabbable-line boxless tabbable-reversed">
                   
                    <div class="tab-content">
                        <div class="tab-pane active" id="tab_1">
                            <div class="portlet box green">
                                <div class="portlet-title">
                                    <div class="caption">
                                        <i class="fa fa-gift"></i>Job Details
                                    </div>
                                    <div class="tools">
                                        <a href="javascript:;" class="collapse"> </a>
                                        <a href="#portlet-config" data-toggle="modal" class="config"> </a>
                                        <a href="javascript:;" class="reload"> </a>
                                        <a href="javascript:;" class="remove"> </a>
                                    </div>
                                </div>
                                <div class="portlet-body form">
                                    <!-- BEGIN FORM-->

                                    <div class="form-body">
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Job Status</label>
                                            <div class="col-md-4">
                                                <select data-ng-options="source.name for source in jobStatusList" ng-model="vm.job.selectedJobStatus"  class="form-control">                                                    
                                                </select>                                              
                                            </div>

                                            <label class="col-md-2 control-label">Branch entry method</label>
                                            <div class="col-md-4">
                                                <select data-ng-options="source.name for source in branchEntryMethodList" ng-model="vm.job.selectedBranchEntry" class="form-control">                                                    
                                                </select>
                                            </div>

                                        </div>                                        
                                        
                                        <div class="form-group">
                                            
                                            <label class="col-md-2 control-label">Customer Service Advisor</label>
                                            <div class="col-md-4">
                                                <select data-ng-options="source.name for source in CSAList" ng-model="vm.job.selectedCSA" class="form-control">                                                   
                                                </select>
                                            </div>

                                            <label class="col-md-2 control-label">Claims Handler</label>
                                            <div class="col-md-4">
                                                <select data-ng-options="source.name for source in claimHandlerList" ng-model="vm.job.selectedClaimHandler" class="form-control">                                                    
                                                </select> 
                                            </div>
                                        </div>
                                       
                                        <div class="form-group">
                                            
                                            <label class="col-md-2 control-label">Estimator</label>
                                            <div class="col-md-4">
                                                <select data-ng-options="source.name for source in EstimatorList" ng-model="vm.job.selectedEstimator" class="form-control">
                                                </select>
                                            </div>
                                            <label class="col-md-2 control-label">Parts Buyer</label>
                                            <div class="col-md-4">
                                                <select data-ng-options="source.name for source in PartsBuyerList" ng-model="vm.job.selectedPartsBuyer" class="form-control">
                                                </select>
                                            </div>

                                        </div>
                                        
                                        <div class="form-group">

                                            <label class="col-md-2 control-label">Shop Allocation</label>
                                            <div class="col-md-4">
                                                <select data-ng-options="source.name for source in shopAllocationMethodList" ng-model="vm.job.shopAllocationSelectedValue" class="form-control">
                                                    <option value="">--Select Entry Method--</option>
                                                </select>
                                            </div>
                                            <label class="col-md-2 control-label">Accident Details</label>
                                            <div class="col-md-4">
                                                <input type="text" ng-model="vm.job.damageReason" class="form-control input-block-level" />
                                            </div>

                                        </div>
                                       
                                      
                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Current KM's</label>
                                            <div class="col-md-4">
                                                <input type="text" ng-model="vm.job.currentKMs" class="form-control input-block-level" />
                                            </div>

                                            <label class="col-md-2 control-label">Other Information</label>
                                            <div class="col-md-4">
                                                <input type="text" ng-model="vm.job.otherInformation" class="form-control input-block-level" />
                                            </div>
                                            
                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Insurance</label>
                                            <div class="col-md-4">
                                                <select data-ng-options="source.name for source in InsuranceList" ng-model="vm.job.selectedInsurance" class="form-control">                                                    
                                                </select>
                                            </div>

                                            <label class="col-md-2 control-label">Broker</label>
                                            <div class="col-md-4">
                                                <select data-ng-options="source.name for source in BrokerList" ng-model="vm.job.selectedBroker" class="form-control">                                                    
                                                </select>
                                            </div>

                                        </div> 

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Claim Administrator</label>
                                            <div class="col-md-4">
                                                <input type="text" ng-model="vm.job.claimAdministrator" class="form-control input-block-level" />
                                            </div>

                                            <label class="col-md-2 control-label">Claim Number</label>
                                            <div class="col-md-4">
                                                <input type="text" ng-model="vm.job.claimNumber" class="form-control input-block-level" />
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Insurance Other Info</label>
                                            <div class="col-md-4">
                                                <input type="text" ng-model="vm.job.insuranceOtherInfo" class="form-control input-block-level" />
                                            </div>

                                            <label class="col-md-2 control-label">Policy Number</label>
                                            <div class="col-md-4">
                                                <input type="text" ng-model="vm.job.policyNumber" class="form-control input-block-level" />
                                            </div>

                                        </div>

                                        <div class="form-group">
                                            <label class="col-md-2 control-label">Rectifivation | Comeback | Warantee</label>
                                            <div class="col-md-2">
                                                <div class="input-group" style="width: 20% !important;">
                                                    <input type="checkbox" ng-model="vm.job.new_Comeback" value="new_Comeback" ng-checked="vm.job.new_Comeback=='true'" class="form-control" />
                                                </div>
                                            </div>
                                            <label class="col-md-2 control-label">Under Manufacture warantee?</label>
                                            <div class="col-md-2">
                                                <div class="input-group" style="width: 20% !important;">
                                                    <input type="checkbox" ng-model="vm.job.underWaranty" value="underWaranty" ng-checked="vm.job.underWaranty=='true''" class="form-control" />
                                                </div>
                                            </div>

                                            <label class="col-md-2 control-label">Other Repairs Required|Upsell?</label>
                                            <div class="col-md-2">
                                                <div class="input-group" style="width: 20% !important;">
                                                    <input type="checkbox" ng-model="vm.job.isUnrelatedDamageReason" value="isUnrelatedDamangeReason" ng-checked="vm.job.isUnrelatedDamageReason=='true'" class="form-control" />
                                                </div>
                                            </div>
                                          
                                        </div>

                                        <div class="form-group">                                            
                                            <label class="col-md-2 control-label">Job not proceeding</label>
                                            <div class="col-md-2">
                                                <div class="input-group" style="width: 20% !important;">
                                                    <input type="checkbox" ng-model="vm.job.jobNotProceeding" value="jobNotProceeding" ng-checked="vm.job.jobNotProceeding=='true'" class="form-control" />
                                                </div>
                                            </div>

                                            <label class="col-md-2 control-label">High Prority</label>
                                            <div class="col-md-2">
                                                <div class="input-group" style="width: 20% !important;">
                                                    <input type="checkbox" ng-model="vm.job.highPriority" value="highPriority" ng-checked="vm.job.highPriority=='true'" class="form-control" />
                                                </div>
                                            </div>

                                            <label class="col-md-2 control-label">Contents bag onsite</label>
                                            <div class="col-md-2">
                                                <div class="input-group" style="width: 20% !important;">
                                                    <input type="checkbox" ng-model="vm.job.contents" value="contents" ng-checked="vm.job.contents=='true'" class="form-control" />
                                                </div>
                                            </div>                                            

                                        </div>
                                       
                                    </div>
                                    <div class="form-actions">
                                        <div class="row">
                                            <div class="col-md-offset-10 col-md-8">
                                                <button type="button" class="btn btn-circle green button-submit">Submit</button>
                                            </div>
                                        </div>
                                    </div>

                                    <!-- END FORM-->
                                </div>
                            </div>

                        </div>

                    </div>
                </div>
            </div>
        </div>

        <div id="myModal_autocomplete" class="modal fade" role="dialog" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header" style="background-color:lightgray;">
                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                        <h4 class="modal-title">Changes Alert</h4>
                    </div>
                    <div class="modal-body form">
                        <label style="margin:15px 0px 0px 15px;">Do you want to save changes you made in this page?</label>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-primary" data-dismiss="modal">Continue without saving</button>
                        <button type="button" class="btn btn-primary button-submit">
                            <i class="fa fa-check"></i> Save changes
                        </button>
                    </div>
                </div>
            </div>
        </div>

        <div ui-view class="fade-in-up"></div>


    </form>   

    <script>
        $(document).ready(function () {
            $('#clickmewow').click(function () {
                $('#radio1003').attr('checked', 'checked');
            });
        })
    </script>
</body>
</html>